---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main class="page-shell home">
			<div class="page-header">
				<h1>Ryan's Blog</h1>
				<a href="/posts" class="posts-link">See Posts!</a>
			</div>
		</main>
	</body>
</html>
